* {
  font-family: var(--medium-font);
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.container {
  padding: 0 130px;
}

h1 {
  font-family: var(--bold-font);
  font-size: 40px;
}

h2 {
  font-size: 20px;
}
