@import url('./nullstyle.css');
@import url('./variables/fonts.css');
@import url('./variables/colors.css');
@import url('./variables/shadows.css');
@import url('./variables/borders.css');

@font-face {
  font-family: 'Geometria-Regular';
  src: local('Geometria-Regular'),
    url('/fonts/Geometria-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Geometria-Medium';
  src: local('Geometria-Medium'),
    url('/fonts/Geometria-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Geometria-Bold';
  src: local('Geometria-Bold'), url('/fonts/Geometria-Bold.woff') format('woff');
}
