.mainContent {
  padding: 75px 20px 0 20px;
}

h1 {
  margin-bottom: 47px;
}

.filters {
  display: flex;
  margin-bottom: 36px;
}

.filters > :not(:last-child) {
  margin-right: 20px;
}

.option {
  display: flex;
  justify-content: space-between;
  padding: 12px 18px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (width <= 576px) {
  .mainContent {
    padding-top: 40px;
  }

  h1 {
    margin-bottom: 22px;
  }

  .filters {
    margin-bottom: 22px;
  }
}
