.dropdownMenuContainer {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 5px;
  gap: 10px;
  background-color: var(--background-color-1);
  font-style: var(--medium-font);
  font-size: 12px;
  box-shadow: var(--general-shadow);
  border-radius: 6px;
  z-index: 1;
}

.displayNone {
  display: none;
}

.option :hover {
  background: var(--background-option-hover);
}
