.header {
  padding: 22px 20px;
  box-shadow: var(--general-shadow);
}

.logo {
  width: 42px;
  height: 42px;
}

.content {
  display: flex;
  align-items: center;
  gap: 45px;
}

.text {
  display: flex;
  gap: 3px;
}

.text a {
  color: var(--font-color-1);
}

@media screen and (width <= 576px) {
  .hiddenInMobile {
    display: none;
  }

  .content {
    gap: 26px;
  }
}
