.tableWrapper {
  overflow: auto;
}

table {
  width: 100%;
  border-radius: 6px;
}

tbody {
  padding: 26px 20px;
  box-shadow: var(--general-shadow);
}

th {
  text-align: left;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.emptyList {
  padding: 30px 0;
}

.colorCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.red {
  background-color: #e25b5b;
}

.green {
  background-color: #83c872;
}

.blue {
  background-color: #49c2e8;
}

.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  filter: drop-shadow(0px 0px 16.371490478515625px rgba(0, 0, 0, 0.1));
}

td {
  font-size: 15px;
  padding: 10px 10px;
}

th {
  padding: 0 0 16px 10px;
  font-family: var(--regular-font);
}

.cellContent {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.emptyList{
  padding-left: 20px;
}
