table {
  width: 100%;
}

tbody {
  padding: 26px 20px;
  box-shadow: var(--general-shadow);
}

th {
  text-align: left;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.emptyList {
  padding: 30px 0;
}

.colorCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.red {
  background-color: #e25b5b;
}

.green {
  background-color: #83c872;
}

.blue {
  background-color: #49c2e8;
}
